TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
ACCOUNT_1_EMAIL=
ACCOUNT_1_PASS=
ACCOUNT_1_CITIZEN_ID=
ACCOUNT_2_EMAIL=
ACCOUNT_2_PASS=
ACCOUNT_2_CITIZEN_ID=
ACCOUNT_3_EMAIL=
ACCOUNT_3_PASS=
ACCOUNT_3_CITIZEN_ID=
ACCOUNT_4_EMAIL=
ACCOUNT_4_PASS=
ACCOUNT_4_CITIZEN_ID=
ACCOUNT_5_EMAIL=
ACCOUNT_5_PASS=
ACCOUNT_5_CITIZEN_ID=
